---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Travel Notes.">
  <main>
    <h1 class="text-2xl font-bold">Travel Notes.</h1>
    <p class="text-lg">
      Has conocido mundo y quieres compartir tus notas de viajes.
    </p>
  </main>
</Layout>
